<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startujeme předškoláky</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style_devices.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <img src="/static/SP_logo_waving.png" alt="Logo Startujeme předškoláky" class="logo">
            <img src="/static/SP_logo_holka_waving.png" alt="Logo Startujeme předškoláky" class="logo1">
            <h1>STARTUJEME<br>PŘEDŠKOLÁKY</h1>
            <p>Připravte se na školu s klidem a radostí – pro děti i pro vás</p>
        </div>
    </header>

    <section class="for-whom fade-in">
        <div class="container">
            <div class="highlight">
                <ul style="font-size: 1.2rem;">
                <li>Přemýšlíte, jak připravit svého předškoláka na školu?</li>
                <li>Tápete, co má předškolák zvládnout, aby měl ve škole dobrý nejen start?</li>
                <li>Děsíte se toho, že budete muset trávit plno čas nad pracovními listy?</li>
                <li>Máte strach z 1. třídy pro své dítě?</li>
                <li>Máte obavy, jestli bude váš předškolák dobře připravený do školy?</li>
                <li>A jestli si s tím jako rodiče poradíte?</li>
                <li>Chcete, aby se váš předškolák těšil na to, co se ve škole naučí?</li>
                <li>Chcete se i vy jako rodiče těšit na školu?</li>
                </ul>
            </div>
            <p style="text-align: center; font-size: 1.5rem; color: #ff762f;"><strong>Pojďte do toho s námi!</strong></p>
            <a href="#kontakt" class="btn" style="margin-left: auto; margin-right: auto;">Zjistit víc</a>
        </div>
    </section>

    <hr class="fade-in">

    <section id="pro_koho" class="fade-in">
        <div class="container" style="max-width: 70%;">
            <h2 style="text-align: center;">Co je STARTUJEME PŘEDŠKOLÁKY?</h2>
            <div class="profile">
                <img src="/static/images/girl_playing.png" alt="Holčina připravená na STARTUJEME PŘEDŠKOLÁKY" class="profile-img-no-shadow">
                <div class="profile-text">
                   <p>Online program pro rodiče dětí, které se chystají do 1. třídy.</p>
                    <p>Inspirace pro rodiče, kteří si nejsou jistí tím, jestli jejich předškolák je připravený do školy.</p>
                    <p>Praktické tipy pro rodiče, kteří se aktivně chtějí podílet na přípravě do školy a chtějí se o předškolním období dozvědět víc.</p>
                    <p>Prostě program pro dospělé, kteří chtějí podpořit předškoláky v rozvoji.</p>
                    <p>Pro ty, kteří chtějí vědět, co je školní zralost, a jak ji poznat.</p>
                    <p>A také informace pro ty, kteří chtějí vědět, co je školní zralost a jak ji poznat.</p>
                    <p>Nabízíme inspiraci propojenou s vysvětlením, abyste mohli do běžného života vložit předškolní přípravu. Propojujeme teorii a ryze praktická doporučení. Vždy budete mít na vybranou z více variant – různé úrovně náročnosti i času. Můžete si sami zvolit, kolik sil, času a financí do předškolní přípravy investujete.</p>
                    <p>A co není? Není to suchý návod, nudná teorie, spousty pracovních listů ani pomůcek.</p>
                </div>
            </div>
        </div>
    </section>

    <hr class="fade-in">

    <section class="about fade-in">
        <div class="container">
            <h2>Pro koho je STARTUJEME PŘEDŠKOLÁKY?</h2>
            <div class="profile">
                <div class="profile-text">
                    <ul>
                        <li>Pro rodiče, kteří se chtějí aktivně zapojit do předškolní přípravy předškoláka a nechtějí ponechávat na náhodě, jak připravené půjde jejich dítě do školy.</li>
                        <li>Pro děti, které nemají výrazně narušený vývoj. Předškolní příprava pro ně musí vycházet z posouzení vývojové úrovně a možností dítěte (nebudete-li si jisti, ptejte se).</li>
                    </ul>
                </div>
                <img src="/static/images/boy_with_book.png" alt="Klučina připravený na školu!" class="profile-img" style="box-shadow: none; max-width: 180px;">
            </div>
        </div>
    </section>

    <hr class="fade-in">

    <section class="fade-in">
        <div class="container">
            <h2>Proč vzniká STARTUJEME PŘEDŠKOLÁKY?</h2>
            <div class="profile">
                <img src="/static/images/girl_with_sign.png" alt="Holčina připravená na STARTUJEME PŘEDŠKOLÁKY" class="profile-img-no-shadow">
                <div class="profile-text">
                   <p>
                        V psychologické praxi vidíme, že v předškolní přípravě potřebujeme pro děti komplexní rozvoj.
                        Kvalita předškolní přípravy je neskutečně rozmanitá a mnohdy i málo náročná, takže děti pak musí ve škole
                        stejně řadu věcí dohánět – a zbytečně.<br>
                        Od školního roku 2026/2027 nastane změna pravidel pro odklady a zahajování školní docházky. V 1. ročnících
                        se začnou setkávat děti různě připravené na školu. Proto už nyní začínáme s rodiči myslet na poctivou přípravu jejich předškoláků.<br>
                    </p>
                </div>
            </div>
            <p><strong>Proto připravujeme online program dostupný kdykoli a kdekoli.</strong></p>
            <div class="highlight">
                <p>Co obsahuje?</p>
                <ul>
                    <li>všechny oblasti předškolního vývoje a přípravy</li>
                    <li>vysvětlení, co a proč se rozvíjí</li>
                    <li>v každé oblasti praktické tipy, videa, návody</li>
                    <li>postup od jednodušších nároků po složitější, aby rodiče viděli, v jaké fázi rozvoje se jejich dítko nachází</li>
                    <li>vysvětlení vývojových souvislostí - proč má dítě určité věci umět a dělat</li>
                    <li>vysvětlení, co je školní zralost (+ proč) a jak se pozná</li>
                </ul>
            </div>
        </div>
    </section>

    <hr class="fade-in">

    <section class="fade-in">
        <div class="container">
            <h2>Kdo tvoří STARTUJEME PŘEDŠKOLÁKY?</h2>
            <div class="profile">
                <div class="profile-text">
                    <p>
                        Jmenuji se Dagmar Brejlová, jsem dětská klinická psycholožka, klinická psycholožka a psychoterapeutka; v oboru působím 20 let, s dětmi intenzivně pracuji 10 let.<br>
                        Nejvíce se věnuji vývojovému posouzení dětí a největší část mých dětských klientů tvoří právě předškoláci. Taky jsem máma dvou dětí a jedno z nich je předškolák.<br>
                        Během své dosavadní praxe jsem načerpala řadu podnětů, informací, inspirací a vědomostí nejen z oblasti klinické psychologie, ale i ze speciální pedagogiky, ergoterapie, logopedie, pedagogiky, z psychoterapie zaměřené na tělo, z rodinné terapie.
                    </p>
                </div>
                <img src="/static/images/photo_o_mne.JPG" alt="PhDr. Dagmar Brejlová" class="profile-img">
            </div>

            <p>Proto může vznikat komplexní průvodce pro rodiče, jak své předškoláky v klidu, <strong>bez záplavy pomůcek, při společných aktivitách, v praktických situacích postupně připravovat na školu.</strong></p>
            <div class="highlight">
                <p>
                    Vzhledem ke své profesi a zkušenostem mohu nabídnout <strong>bonus k programu STARTUJEME PŘEDŠKOLÁKY:</strong><br>
                    rodičům, kteří se zapojí do programu, garantuji, že u mě jejich dítě může absolvovat komplexní psychologické vyšetření, pokud by se rozvoj nedařil tak, jak by měl a mohl.
                </p>
            </div>
        </div>
    </section>

    <hr class="fade-in">

    <section class="fade-in">
        <div class="container">
            <h2>A co tedy děti potřebují rozvíjet?</h2>
            <p>Nechte si poslat <a href="#kontakt" class="link-to-form"><strong>START – JAK NA TO</strong></a>, abyste viděli, jaké oblasti bude program STARTUJEME PŘEDŠKOLÁKY obsahovat. Stačí vyplnit formulář.</p>
            <div class="profile">
                <div class="profile-text">
                    <p>
                        Samotný program se bude každou oblastí detailně zabývat, jeho součástí jsou praktické informace o vývoji,
                        výchovná témata. A všechno budeme důkladně propojovat, protože ve vývoji je vždy všechno propojené.
                    </p>
                    <p>
                        Dítě, které může navázat na dobře zvládnuté předškolní období, má mnohem lepší podmínky pro start ve škole.
                        Má zkušenost s vlastním snažením, plánováním, dokončováním úkolů, ví, jak překonávat překážky.
                        Zvládá pravidla, dokáže se ovládnout a respektovat druhé. Nejde o to, aby všechno umělo dokonale,
                        ale aby mělo chuť učit se nové věci, radost z pokroku, aby umělo pracovat.
                    </p>
                </div>
                <img src="/static/images/boy_playing.png" alt="Předškoláček si hraje s kostkami" class="profile-img-no-shadow">
            </div>
            <p>
                Společně můžeme vytvořit základ, na kterém bude dítě dál stavět, aby do školy šlo sebevědomě, s chutí a v klidu.
                Netřeba rozvláčně psát o tom, že to, co se dítě v předškolním období naučí, několikanásobně zužitkuje
                v dalším školním vzdělávání i v každodenním životě, ve vztazích.
            </p>
        </div>
    </section>
    <div class="outro fade-in">
        <h2>Sledujte stránky <strong>STARTUJEME PŘEDŠKOLÁKY!</strong><br>Postupně budou přibývat informace a přidáme i ukázku programu.</h2>
    </div>

    <section id="kontakt" class="fade-in">
        <div class="container contact">
            <h2>Zajímá vás víc?</h2>
            <p>Vyplňte údaje níže a na e-mail vám zašleme informace k veškerému obsahu, který vás čeká v programu
                <strong>STARTUJEME PŘEDŠKOLÁKY</strong></p>
            <form action="/submit" method="post" class="contact-form">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Vaše jméno" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Váš e-mail" required>
                </div>
                <button type="submit" class="btn-form">Odeslat</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 Startujeme předškoláky<br><a href="mailto:info@startujemepredskolaky.cz">info@startujemepredskolaky.cz</a></p>
        </div>
    </footer>

    <script>
        const faders = document.querySelectorAll('.fade-in');
        const appearOnScroll = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                } else {
                    entry.target.classList.remove('visible');
                }
            });
        }, { threshold: 0.1 });
        faders.forEach(fader => appearOnScroll.observe(fader));
    </script>
</body>
</html>
